src/servidorSoap/operaciones.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://localhost/dwes05_banco/servidorSoap/servidor.php" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ServicioCalculadora.Operaciones" targetNamespace="http://localhost/dwes05_banco/servidorSoap/servidor.php">
  <types>
    <xsd:schema targetNamespace="http://localhost/dwes05_banco/servidorSoap/servidor.php">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    </xsd:schema>
  </types>
  <portType name="ServicioCalculadora.OperacionesPort">
    <operation name="resta">
      <input message="tns:restaIn"/>
      <output message="tns:restaOut"/>
    </operation>
    <operation name="suma">
      <input message="tns:sumaIn"/>
      <output message="tns:sumaOut"/>
    </operation>
    <operation name="multiplica">
      <input message="tns:multiplicaIn"/>
      <output message="tns:multiplicaOut"/>
    </operation>
    <operation name="divide">
      <input message="tns:divideIn"/>
      <output message="tns:divideOut"/>
    </operation>
  </portType>
  <binding name="ServicioCalculadora.OperacionesBinding" type="tns:ServicioCalculadora.OperacionesPort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="resta">
      <soap:operation soapAction="http://localhost/dwes05_banco/servidorSoap/servidor.php#resta"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/dwes05_banco/servidorSoap/servidor.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/dwes05_banco/servidorSoap/servidor.php"/>
      </output>
    </operation>
    <operation name="suma">
      <soap:operation soapAction="http://localhost/dwes05_banco/servidorSoap/servidor.php#suma"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/dwes05_banco/servidorSoap/servidor.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/dwes05_banco/servidorSoap/servidor.php"/>
      </output>
    </operation>
    <operation name="multiplica">
      <soap:operation soapAction="http://localhost/dwes05_banco/servidorSoap/servidor.php#multiplica"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/dwes05_banco/servidorSoap/servidor.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/dwes05_banco/servidorSoap/servidor.php"/>
      </output>
    </operation>
    <operation name="divide">
      <soap:operation soapAction="http://localhost/dwes05_banco/servidorSoap/servidor.php#divide"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/dwes05_banco/servidorSoap/servidor.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/dwes05_banco/servidorSoap/servidor.php"/>
      </output>
    </operation>
  </binding>
  <message name="restaIn">
    <part name="a" type="xsd:float"/>
    <part name="b" type="xsd:float"/>
  </message>
  <message name="restaOut">
    <part name="return" type="xsd:float"/>
  </message>
  <message name="sumaIn">
    <part name="a" type="xsd:float"/>
    <part name="b" type="xsd:float"/>
  </message>
  <message name="sumaOut">
    <part name="return" type="xsd:float"/>
  </message>
  <message name="multiplicaIn">
    <part name="a" type="xsd:float"/>
    <part name="b" type="xsd:float"/>
  </message>
  <message name="multiplicaOut">
    <part name="return" type="xsd:float"/>
  </message>
  <message name="divideIn">
    <part name="a" type="xsd:float"/>
    <part name="b" type="xsd:float"/>
  </message>
  <message name="divideOut">
    <part name="return" type="xsd:float"/>
  </message>
  <service name="ServicioCalculadora.OperacionesService">
    <port name="ServicioCalculadora.OperacionesPort" binding="tns:ServicioCalculadora.OperacionesBinding">
      <soap:address location="http://localhost/dwes05_banco/servidorSoap/servidor.php"/>
    </port>
  </service>
</definitions>
